{% extends 'base.html' %}
{% load static %}
{% load render_partial %}

{% block title %}
    Home
{% endblock %}
{% block active_home %}
    active
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for article in articles %}
                    <div class="item">
                        <img src="{{ article.Image.url }}" alt="{{ article.Title }}">
                        <div class="item-content">
                            <div class="main-content">
                                <div class="meta-category">
                                    <span>{{ article.Category.first }}</span>
                                </div>
                                <a href="{{ article.get_absolute_url }}"><h4>{{ article.Title }}</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">{{ article.Author.username }}</a></li>
                                    <li><a href="#">{{ article.Created }}</a></li>
                                    <li><a href="#">12 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for article in recent %}
                                <div class="col-lg-12">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ article.Image.url }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>Lifestyle</span>
                                            <a href="{{ article.get_absolute_url }}"><h4>{{ article.Title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ article.Author }}</a></li>
                                                <li><a href="#">{{ article.Created }}</a></li>
                                                <li><a href="#">12 Comments</a></li>
                                            </ul>
                                            <p> {{ article.Body }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">Beauty</a>,</li>
                                                            <li><a href="#">Nature</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="post-share">
                                                            <li><i class="fa fa-share-alt"></i></li>
                                                            <li><a href="#">Facebook</a>,</li>
                                                            <li><a href="#"> Twitter</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="{% url 'blog:articles_list' %}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% render_partial "home_app:sidebar" %}
            </div>
        </div>
    </section>


{% endblock %}


