{% load static %}

{# head references #}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
      rel="stylesheet">

<title>
    {% if request.resolver_match.url_name == 'home' %}
        Home{% endif %}
    {% if request.resolver_match.url_name == 'articles_list' %}
        All Articles{% endif %}
    {% if request.resolver_match.url_name == 'about_us' %}
        About Us{% endif %}
    {% if request.resolver_match.url_name == 'contact_us' %}
        Contact Us{% endif %}
    {% if request.resolver_match.url_name ==  'article_detail' %}
        {{ article.Title }}
    {% endif %}
    {% if request.resolver_match.url_name ==  'category_detail' %}
            Category Detail
    {% endif %}

</title>


<!-- Bootstrap core CSS -->
<link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">


<!-- Additional CSS Files -->
<link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
<link rel="stylesheet" href="{% static "css/templatemo-stand-blog.css" %}">
<link rel="stylesheet" href="{% static "css/owl.css" %}">