{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}
    All Articles
{% endblock %}
{% block active_list %}
    active
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Articles</h4>
                            <h2>Articles For You</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->


    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for article in articles %}
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ article.Image.url }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            {% for item in article.Category.all %}
                                                <a href="{{ item.get_absolute_url }}"><span>{{ item }}</span></a>
                                            {% endfor %}
                                            <a href="{{ article.get_absolute_url }}"><h4>{{ article.Title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a>{{ article.Author }}</a></li>
                                                <li><a>{{ article.Created }}</a></li>
                                                <li><a >{{ article.comments|counter }} Comments</a></li>
                                            </ul>
                                            <p>{{ article.Body|slice:":20" }}...</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">Best Templates</a>,</li>
                                                            <li><a href="#">TemplateMo</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-lg-12">
                                <ul class="page-numbers">
                                    {% if articles.has_other_pages %}
                                        {% if articles.has_previous %}
                                            <li><a href="?page=
                                                    {{ articles.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                    class="fa fa-angle-double-left"></i></a></li>
                                        {% endif %}
                                        {% for i in articles.paginator.page_range %}
                                            {% if articles.number == i %}
                                                <li class="active"><a href="?page=
                                                        {{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li><a href="?page=
                                                        {{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if articles.has_next %}
                                            <li><a href="?page=
                                                    {{ articles.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                    class="fa fa-angle-double-right"></i></a></li>
                                        {% endif %}
                                        </ul>


                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% include "includes/sidebar.html" %}
            </div>
        </div>
    </section>

{% endblock %}

